<div class="contact-page-wrapper">
    <div class="wrapper">
      <div class="map-wrapper">
        <div class="grid"> 
          <div id="map-boxed" class="map">
            
          </div>
        </div> <!-- End grid -->
      </div> <!-- End map-wrapper -->
    </div> <!-- End wrapper -->
</div>