{% comment %}
Instagram feed
For setting go to Admin -> Theme -> Customize Theme -> Footer
{% endcomment %}
<div class="instagram-feed-container">
  <h2 class="heading--page">{{ settings.footer_instagram_heading | upcase }}</h2>
  <h4 class="subheading--page-small"><em>{{ settings.footer_instagram_subheading }}</em></h4>
  <div class="instagram-feed" id="instafeed"></div>
</div>