{% comment %}
  Regular page content goes here.
{% endcomment %}

<section class="tentangpt-image">
  <div class="tentangpt-image__content text-center">
      <h1 class="tentangpt-image__title">Tentang PasarTap</h1>
      <p class="tentangpt-image__desc">The grocery delivery service that delivers farm-fresh produce to your door in a matter of hours. With a network of local Pasar/farm suppliers and a smarter and greener solution, PasarTap will save you from the pain of grocery shopping. Say no more to traffic jams, parking tickets, fuel costs and those god-damned long queues! With just RM3.00 delivery fee, you’ll get same-day delivery of fresh goods without having to break the bank.</p>
  </div>
</section>

<div class="wrapper">
  <div class="rte">
	<h1 style="font-family: Bitter;">Co-founders</h1>
    {{ page.content }}
  </div>
</div>